
$tileBG: #fff;
$gray: #8d8d8d;

div.innerWrapper p,
div.innerWrapper > a {
  margin: 5px 10px;
  text-align: left;
  line-height: 1.125em;
}
section.genre-section{
  position: relative;
    z-index: 100;
  &> div{
    box-sizing: border-box;
    padding:0;
    h2{
      padding: 0 0 5px;
      font-size: 2.25em;
      color:#fff;
      font-weight: 600;
    }
  }

}

  div.innerWrapper .gameTitle{
    min-height: 36px;
    //height: 36px;
    font-weight: 600;
    //margin-bottom: 6px;
    font-size: 1.25em;
    line-height: 1.25em;
    color: #333;
    text-align: left;
    overflow: hidden;

    // text-overflow: ellipsis;
    // white-space: nowrap;
  }
  .featuredTheme, .genre{
    color:#666;
    font-size: 1.1em;
  }

  p.bottom-text {
    min-height: 22px;
  }

  .gamePrice{
    color: #5e5e5e;
    min-height: 13px;
    font-weight: 700;
    height: 46px;
    span{
      line-height: 1;
      //font-size: 1.25em;
      &.strikeThrough{
          text-decoration: line-through;
          color:$gray;
          float: right;
          font-size: 1.15em;
          line-height: 1.15em;
      }
      &.salePrice{
        color:#c92e2a;
      }
      &.sale-and-discount{
        display: block;
        text-align: right;
        margin-top: 4px;
        font-size: 1.417em;
        font-weight: 600;
      }
      &.price{
        color: #000;
        font: inherit;
      }
      &.percent-off{
        margin-right: .25em;
        color: #b60505;
      }
      &.wildcoinPrice{
        color:#4f1ac4;
      }
    }

    &.wildcoins{
      span{
        &:after{
          content: '';
          width: 16px;
          height: 16px;
          display: inline-block;
          margin-left: 4px;
          vertical-align: bottom;
          background-image: url('https://webassets.wildtangent.com/css/img/wildcoin_xsm.png');
        }
        &.percent-off, &.sale-and-discount{
          &:after{
            content: '';
            width: 0px;
            height: 0px;
            display: inline-block;
            margin-left: 0px;
            vertical-align: none;
            background-image: none;
          }
        }
        &.wildcoinPrice{
          &:after{
            vertical-align: middle;
            margin-bottom: 4px;
          }
        }
        &.strikeThrough{
          &:after{
            filter: grayscale(80%) contrast(70%);
          }
        }
      }
    }

  }


  div.innerWrapper > a{
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    padding:6px 10px 6px;
    text-align: center;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
    display: block;
    font-size: 1.15em;
    line-height: 1em;
    font-weight: 600;
    text-transform: uppercase;;
}
a.cta{
    background:#2359bc;
    &:hover{
      text-decoration: none;
        background:#3971db;
    }
}
div.wrapperElement{
  display: none;

  padding: 0 0 8px;
  // margin:0 15px 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;

  transition: all 300ms ease;
  max-width: 350px;
  //min-width: 230px;
  &.active{
    display: block;
  }
  .innerWrapper {
    box-sizing: border-box;
    margin: 0 8px 8px;
    background: $tileBG;
    //padding-bottom: 2px;
    border-radius: 5px;
    transition: box-shadow 300ms ease;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    .bigIconDiv {
      overflow: hidden;
      img {
        border-radius: 5px 5px 0 0;
        transition: transform 300ms ease;
      }
    }
  }

  &:hover{
    .innerWrapper{
      -webkit-box-shadow: 0 2px 6px 2px rgba(0,0,0,0.2);
      box-shadow: 0 2px 6px 2px rgba(0,0,0,0.2);
    }
    .bigIconDiv img {
      transform: scale(1.07);
    }

  }
}
