body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a.nav_drop{
  box-sizing: unset;
}

.wrapper.wildgaming a{
  box-sizing:unset;
}

nav#follow_us a:hover {
  color:#fff;
}

// 1/5 col css
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    flex: 0 0 20%;
    max-width: 20%;
}

@media (min-width: 768px) {
    .col-sm-5ths {
      flex: 0 0 20%;
      max-width: 20%;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
      flex: 0 0 20%;
      max-width: 20%;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
      flex: 0 0 20%;
      max-width: 20%;
    }
}
